
<div class="container">
  <div class="page-header">
   <h1>Create your burger!</h1>
  </div>

  <div class="row">
    <div id="list" class="col-sm-4">
      <h2>You can eat these!</h2>
        <ol>
          {{#each burgers}}
            {{#unless devoured}}
              {{>burgers/devour-block devour=true}}
            {{/unless}}
          {{/each}}
        </ol>
    </div>
    <div id="list" class="col-sm-4">
      <img src="http://bsnscb.com/data/out/29/27069577-burger-wallpapers.png" alt="Burger here" style="width:100%;height:250px;">
    </div>
    <div id="list" class="col-sm-4">
       <h2>You ate these already!</h2>
        <ol>
          {{#each burgers}}
            {{#if devoured}}
              {{>burgers/devour-block devour=false}}
            {{/if}}
          {{/each}}
        </ol>
    </div>
  </div>
      <h2>Add your burger!</h2>
      <div class="col-sm-4 col-sm-offset-4">
      <form class="create-form">
        <div class="form-group">
          <textarea type="text" id="bg" name="name" placeholder="What do you want in your burger?"></textarea>
        </div>
        <button class="btn btn-success" type="submit">Add Burger!</button>
      </form>
      </div>
</div>