<nav class="navbar navbar-light" >
 <span class="navbar-brand mx-auto"><h1>Create your burger!</h1></span>
</nav>
<div class="container">
  <div class="row">
    <div id="list" class="col-sm-4">
      <h2 class="py-2">Ready to eat!</h2>
        <ol class="px-2">
          {{#each burgers}}
            {{#unless devoured}}
              {{>burgers/devour-block devour=true}}
            {{/unless}}
          {{/each}}
        </ol>
    </div>
    <div id="list" class="col-sm-4">
      <h2 class="py-2">Add your burger!</h2>
          <form class="create-form">
            <div class="form-group">
              <textarea type="text" id="bg" name="name" placeholder="What do you want in your burger?"></textarea>
            </div>
            <button class="btn btn-success" type="submit">Add Burger!</button>
          </form>
    </div>
    <div id="list" class="col-sm-4">
       <h2 class="py-2">Devoured!</h2>
        <ol class="px-2">
          {{#each burgers}}
            {{#if devoured}}
              {{>burgers/devour-block devour=false}}
            {{/if}}
          {{/each}}
        </ol>
    </div>
  </div>
</div>
<div class="card bg-dark text-black fixed-bottom">
    <h5 class="footer mx-auto">Copyright© 2018 Hyung</h5>
</div>